/* AnalogTimer.css */
.analog-timer {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-analog-wrapper {
  /* position: relative; */
  width: 80dvw;
  height: auto;
  /* margin: 20px 0; */
}

#clock-analog {
  width: 100%;
  height: auto;
}

.mid-circle {
  fill: #000;
}

.tick-mark {
  stroke: #000;
  stroke-width: 2;
}

.second-arm {
  stroke: black;
  stroke-width: 2;
}

.minute-arm {
  stroke: black;
  stroke-width: 4;
}
