/* src/Styles/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
}

.burger-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .burger-menu {
    font-size: 26px;
    top: 5px;
    right: 5px;
  }
}
