/* SetTimer.css */
.set-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  font-size: 36px;
}

.input-group {
  margin-bottom: 20px; /* Increase spacing between input groups */
}

.time-input {
  display: flex;
  justify-content: space-around;
  gap: 40px; /* Increase gap between the time inputs */
  margin-bottom: 10px; /* Increase spacing from the next section */
}

.time-labels {
  display: flex;
  justify-content: space-around;
  gap: 40px; /* Match the gap with time-input */
  margin-bottom: 30px; /* Add more space below labels */
  font-size: 36px;
}

.scrollable-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-display {
  font-size: 36px; /* Increase font size for better readability */
  font-weight: bold;
  margin: 10px 0;
}

.time-label {
  font-size: 18px; /* Increase the font size of labels */
}

.arrow-button {
  cursor: pointer;
  background: none;
  border: 1px solid #000; /* Add border to the arrow buttons */
  font-size: 20px;
  padding: 0;
  /* margin-bottom: 20px; */
}

.start-timer-button {
  margin-top: 30px;
  margin-bottom: auto;
  align-self: center; 
}



.burger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
}


